<header class="">
    <nav class="">
      <ul class="">
        <li class=""><a class="<%= path === '/' ? 'active' : '' %>" href="/">Users</a></li>
        <li class=""><a class="<%= path === '/add-users' ? 'active' : '' %>" href="/add-users">Add User</a></li>
      </ul>
    </nav>
  </header>
