<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Users</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
      <header class="header">
          <nav class="nav">
            <ul class="nav-group">
              <li class="nav-item"><a href="/">Home</a></li>
              <li class="nav-item"><a class="active" href="/users">Users</a></li>
            </ul>
          </nav>
        </header>

    <main>
      <h1>List of current users:</h1>
      <ul>
        <li>Justin</li>
        <li>Jessica</li>
        <li>Julie</li>
      </ul>
    </main>
  </body>
</html>
